
.welcome{
    background: url(https://i.ibb.co/G3CsM7Y/tryyyy-1.png) rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-position: center;
    background-size:80% 100%;
    background-repeat: no-repeat;
    height: 500px;
}
  



@media (max-width: 991px) {
    .sidebar{
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.icon-card{
    position: relative;
}
#Nsales{
    font-family: "Poppins", sans-serif;
    display: flex;
    width: 25px;
    height: 25px;
    background-color: #2d1c91;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20%;
}
svg{
    width: 50px;
}
